.hero-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.showing-for {
    margin-bottom: 20px;
}

.entertainment-list {
    margin-bottom: 50px;
}

.entertainment {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 16px;
    margin-bottom: 10px;
}

.entertainment-name {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 23px;
}

.entertainment-name-link {
    color: rgb(21, 21, 21);
}

.add-listing-link {
    color: gray;
    font-size: .9em;
    text-decoration: underline;
}

.activitytype-with-buttons {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: flex-start;
}

.activitytype-label {
    color: #006400;
}

.activitytype-with-buttons .button {
    margin-right: 5px;
    margin-bottom: 10px;
}

.share-like-buttons {
    display: flex;
}

.entertainment-runner-details {
    color: gray;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.runner-detail {
    text-transform: capitalize;
}

.spacer-dot {
    padding: 0 5px;
}

.alcohol-wrapper {
    display: flex;
    justify-content: flex-end;
}

.alcohol {
    margin-right: 5px;
}

.gray-text {
    opacity: 50%;
}

.beer-theme {
    color: #b99d00; /* Gold */
}

.wine-theme {
    color: #8B008B; /* DarkMagenta */
}

.liquor-theme {
    color: #312be2; /* BlueViolet */
}


@media screen and (max-width: 768px) {
    .share-like-wrapper {
        width: 100%;
    }

    .entertainment-name {
        width: 80%;
    }
}