.hero-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.showing-for {
    margin-bottom: 20px;
}

.restaurant-list {
    margin-bottom: 50px;
}

.restaurant {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 16px;
    margin-bottom: 10px;
}

.restaurant-name-link {
    color: rgb(21, 21, 21);
}

.foodtype-with-buttons {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: flex-start;
}

.foodtype-label {
    color: #4B0082;
}

.foodtype-with-buttons .button {
    margin-right: 5px;
    margin-bottom: 10px;
}

.share-like-buttons {
    display: flex;
}

.restaurant-name {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 23px;
}

.add-listing-link {
    color: gray;
    font-size: .9em;
    text-decoration: underline;
}

.restaurant-runner-details {
    color: gray;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.runner-detail {
    text-transform: capitalize;
}

.spacer-dot {
    padding: 0 5px;
}

.food-allergy-wrapper {
    display: flex;
    justify-content: flex-end;
}

.allergy {
    margin-right: 2px;
}

.gray-text {
    opacity: 50%;
}

.gluten-theme {
    color: #8A2BE2; /* Purple */
}

.vegan-theme {
    color: #3CB371; /* Medium Sea Green */
}

.dairy-theme {
    color: #FFD700; /* Gold */
}

.vegetarian-theme {
    color: #4169E1; /* Royal Blue */
}

@media screen and (max-width: 768px) {
    .share-like-wrapper {
        width: 100%;
    }

    .restaurant-name {
        width: 80%;
    }
}