.hero-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.showing-for {
    margin-bottom: 20px;
}

.tournament-list {
    margin-bottom: 50px;
}

.tournament {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 16px;
    margin-bottom: 10px;
}

.region-with-buttons {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: flex-start;
}

.region-label {
    color: teal;
}

.region-with-buttons .button {
    margin-right: 5px;
    margin-bottom: 10px;
}

.share-like-buttons {
    display: flex;
}

.tournament-name {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 23px;
}

.add-listing-link {
    color: gray;
    font-size: .9em;
    text-decoration: underline;
}

.tournament-runner-details {
    color: gray;
    display: flex;
}

.runner-detail {
    text-transform: capitalize;
}

.spacer-dot {
    padding: 0 5px;
}

@media screen and (max-width: 768px) {
    .share-like-wrapper {
        width: 100%;
    }

    .tournament-name {
        width: 80%;
    }
}