.showing-for {
    margin-bottom: 20px;
}

.tournament-list {
    margin-bottom: 50px;
}

.tournament {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 16px;
}

.share-like-wrapper {
    display: flex;
    width: auto;
    justify-content: flex-end;
}

.share-like-wrapper .button {
    margin-right: 5px;
    margin-bottom: 10px;
}

.tournament-hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.tournament-name {
    text-transform: capitalize;
    font-weight: bold;
    width: 60%;
    margin-bottom: 10px;
}

.tournament-runner-details {
    color: gray;
    display: flex;
}

.runner-detail {
    text-transform: capitalize;
}

.spacer-dot {
    padding: 0 5px;
}

@media screen and (max-width: 768px) {
    .share-like-wrapper {
        width: 100%;
    }

    .tournament-name {
        width: 80%;
    }
}