{% extends 'base.html' %}

{% block title %}Leave Review{% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Page for adding a restaurant review.">  
    <link rel="stylesheet" href="{% static 'css/restaurant/review_restaurant.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <!-- <script src="{% static 'js/main/landing.js' %}"></script> -->
{% endblock %}

{% block content %}
<div class="container mt-3 form-wrapper">
    {% if error_message %}
        <p class="text-danger">{{ error_message }}</p>
    {% endif %}
    <h2>Review Restaurant</h2>
    <p class="text-muted">For {{ restaurant.name }}</p>
    <form method="post" class="mt-3 form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}