{% extends 'base.html' %}

{% block title %} Contact Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="A page where users can submit a form to contact youth hockey tournament reviews.">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<section class="jumbotron" style="background-image: url('{% static 'images/review-bg.jpg' %}')">
    <div class="title-container">
        <h1 class="title">Contact Us</h1>
    </div>
</section>
{% endblock %}