{% extends 'base.html' %}

{% block title %} FAQ page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="A page where users can find answers to frequently asked questions about the hockey review platform.">
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock %}

{% block content %}
<section class="faq-section">
    <div class="faq-wrapper">
        <h1 class="group-name">Reviews</h1>
        <div class="qa-group">
            <p class="question">Q: How do I add a new review?</p>
            <div class="answer-group">
                <p class="answer">A: By clicking 'Add review' on a tournament page, where all reviews are listed.</p>
            </div>
        </div>
        <h1 class="group-name">Tournaments</h1>
        <div class="qa-group">
            <p class="question">Q: How do I add a new tournament?</p>
            <div class="answer-group">
                <p class="answer">A: By clicking 'Add Tournament' on the search tournaments page.</p>
            </div>
            <p class="question">Q: When will the tournament be made public on the site?</p>
            <div class="answer-group">
                <p class="answer">A: Our staff will process the Tournament to make sure it passes the criteria.</p>
                <p class="answer">A: Ensure accurate information including the name, address, and all other details.</p>
                <p class="answer">A: Ensure it is not a duplicate tournament.</p>
            </div>
        </div>
        <h1 class="group-name">Rating System</h1>
        <div class="qa-group">
            <p class="question">Q: How are tournaments rated?</p>
            <div class="answer-group">
                <p class="answer">A: We calculate a simple average from all user submitted ratings. This gives us an overall rating score.</p>
                <p class="answer">A: The letter grades are an average of user submitted quality grades [A, B, C, D, F].</p>
                <p class="answer">A: When you submit a review, you can choose between a few options for quality grade fields.</p>
                <p class="answer">
                    <ul>
                        <li>A : Excellent</li>
                        <li>B : Above Average</li>
                        <li>C : Average</li>
                        <li>D : Below Average</li>
                        <li>F : Poor</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
