{% extends 'base.html' %}

{% block title %} FAQ page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="A page where users can find answers to frequently asked questions about the hockey review platform.">
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock %}

{% block content %}
<section class="faq-section">
    <div class="faq-wrapper">
        <h1>Reviews</h1>
        <div class="qa-group">
            <p class="question">Q: How do I add a new review?</p>
            <div class="answer-group">
                <p class="answer">A: By clicking 'Add review' on the homepage.</p>
                <p class="answer">A: By clicking 'Add review' on a tournament page, where all reviews are listed.</p>
            </div>
        </div>
        <h1>Tournaments</h1>
        <div class="qa-group">
            <p class="question">Q: How do I add a new tournament?</p>
            <div class="answer-group">
                <p class="answer">A: By clicking 'New Tournament' on the homepage.</p>
                <p class="answer">A: By clicking 'Add Tournament' on the search tournaments page.</p>
            </div>
            <p class="question">Q: When will the tournament be made public for reviews?</p>
            <div class="answer-group">
                <p class="answer">A: Our system will process the Tournament to make sure it passes the following tests.</p>
                <p class="answer">
                    <ul>
                        <li>Accurate information including the name, address, and all details.</li>
                        <li>Ensure it is not a duplicate item.</li>
                    </ul>
                </p>
            </div>
        </div>
        <h1>Rating System</h1>
        <div class="qa-group">
            <p class="question">How are tournaments rated?</p>
            <div class="answer-group">
                <p class="answer">Q: We take an simple average of all user submitted ratings to get a tournament's overall rating score.</p>
                <p class="answer">A: The letter grades are an average of user submitted ratings too. When you submit a review, you can choose between a few options:</p>
                <p class="answer">
                    <ul>
                        <li>F : Poor</li>
                        <li>D : Below Average</li>
                        <li>C : Average</li>
                        <li>B : Above Average</li>
                        <li>A : Excellent</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}