{% extends 'base.html' %}

{% block title %} FAQ page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="A page where users can find answers to frequently asked questions about the hockey review platform.">
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock %}

{% block content %}
<section class="faq-section">
    <div class="faq-wrapper">
        <h1 class="group-name">Overview</h1>
        <div class="qa-group">
            <p class="">Our platform facilitates user engagement through a comprehensive rating system encompassing <strong>over all ratings</strong> on a scale of <em>1.0 to 5.0</em> and <strong>quality ratings</strong> graded from <em>A to F</em>. Users can contribute to the community by submitting reviews for tournaments, restaurants, and entertainments. The rating calculations involve simple averages of user submissions.</p>
            
            <p>Tournaments, restaurants, and entertainments undergo staff review processes before being publicly accessible, ensuring accuracy, completeness, and the prevention of duplicates. Users play a crucial role in shaping the platform's content, directly influencing the overall and quality ratings of the entities they review.</p>
        </div>
        <h1 class="group-name">Tournaments</h1>
        <div class="qa-group">
            <p class="question">Q: How do I add a new tournament?</p>
            <div class="answer-group">
                <p class="answer">A: By clicking 'Add Tournament' on the search tournaments page.</p>
            </div>
            <p class="question">Q: When will the tournament be made public on the site?</p>
            <div class="answer-group">
                <p class="answer">A: Our staff will process the Tournament to make sure it passes the criteria.</p>
                <p class="answer">A: Ensure information is accurate including the name, address, and all other details.</p>
                <p class="answer">A: Ensure it is not a duplicate tournament.</p>
            </div>
        </div>
        <h1 class="group-name">Tournament Reviews</h1>
        <div class="qa-group">
            <p class="question">Q: How do I add a new tournament review?</p>
            <div class="answer-group">
                <p class="answer">A: By clicking 'Add review' on a tournament page, where all reviews are listed.</p>
            </div>
        </div>
        <h1 class="group-name">Resturants</h1>
        <div class="qa-group">
            <p class="question">Q: How do I add a new restaurant?</p>
            <div class="answer-group">
                <p class="answer">A: By clicking 'Add Restaurant' on the tournament's page for which you wish to add it.</p>
            </div>
            <p class="question">Q: When will the restaurant be made public on the tournament's page?</p>
            <div class="answer-group">
                <p class="answer">A: Our staff will process the Restaurant to make sure it passes the criteria.</p>
                <p class="answer">A: Ensure information is accurate including the name, address, and all other details.</p>
                <p class="answer">A: Ensure it is not a duplicate restaurant.</p>
            </div>
        </div>
        <h1 class="group-name">Restaurant Reviews</h1>
        <div class="qa-group">
            <p class="question">Q: How do I add a new restaurant review?</p>
            <div class="answer-group">
                <p class="answer">A: By clicking 'Add review' on a restaurant's page, where all reviews are listed for that restaurant.</p>
            </div>
        </div>
        <h1 class="group-name">Entertainments</h1>
        <div class="qa-group">
            <p class="question">Q: How do I add a new entertainment to a tournament?</p>
            <div class="answer-group">
                <p class="answer">A: By clicking 'Add Entertainment' on the tournament's page for which you wish to add it.</p>
            </div>
            <p class="question">Q: When will the entertainment be made public on the tournament's page?</p>
            <div class="answer-group">
                <p class="answer">A: Our staff will process the Entertainment to make sure it passes the criteria.</p>
                <p class="answer">A: Ensure information is accurate including the name, address, and all other details.</p>
                <p class="answer">A: Ensure it is not a duplicate entertainment.</p>
            </div>
        </div>
        <h1 class="group-name">Entertainment Reviews</h1>
        <div class="qa-group">
            <p class="question">Q: How do I add a new entertainment review?</p>
            <div class="answer-group">
                <p class="answer">A: By clicking 'Add review' on the entertainment's page, where all reviews are listed for that entertainment.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
