{% extends 'base.html' %}

{% block title %} Restaurant Add Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="A page where users can submit a new restaurant that doesnt exist for a given tournament.">
    <link rel="stylesheet" href="{% static 'css/tournament_entry.css' %}">
{% endblock %}

{% block content %}
<section class="form-section">
    <div class="form-wrapper">
        <h1>Add a Restaurant</h1>
        <p>Once the restaurant is verified, users will be able to write reviews for it.</p>
        <form method="post" action="{% url 'reviews:restaurant_entry' %}">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert">
                    Please correct the following issues.
                    <ul>
                        {% for error in form.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
{% endblock %}