{% extends 'base.html' %}

{% block title %} Review Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="A page where users can submit a tournament review.">
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
{% endblock %}

{% block content %}
<section class="form-section">
    <div class="form-wrapper">
        <h1>Your Review</h1>
        <p>Honest feedback is priceless.</p>
        <form method="post" action="{% url 'reviews:review' %}">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert">
                    Please correct the following issues.
                    <ul>
                        {% for error in form.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
{% endblock %}