{% extends 'base.html' %}

{% block title %} Review Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="A page where users can submit a tournament review.">
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
{% endblock %}

{% block content %}
<section class="jumbotron" style="background-image: url('{% static 'images/review-bg.jpg' %}')">
    <div class="title-container">
        <h1 class="title">Leave Review</h1>
    </div>
</section>
<section class="form-section">
    <div class="form-wrapper">
        <form method="post" action="{% url 'reviews:review' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
{% endblock %}