{% extends 'base.html' %}

{% block title %} Tournament Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Search for all hockey tournaments available in our system.">
    <link rel="stylesheet" href="{% static 'css/tournaments.css' %}">
{% endblock %}

{% block content %}
<section class="jumbotron" style="background-image: url('{% static 'images/tournament-bg.jpg' %}')">
    <div class="title-container">
        <h1 class="title">Search Tournaments</h1>
        <p class="subtitle">Search by name or location.</p>
        <div class="searchbar-wrapper">
            <input type="text" id="search_input" name="query" aria-label="Search tournaments" />
            <button type="submit" class="go-button">GO</button>
        </div>
    </div>
</section>
<section class="search-results">
    <div class="tournaments-container">
        <div class="tournament">
            <h1 class="name">10U Riders Challenge Cup</h1>
        </div>
        <div class="tournament">
            <h1 class="name">Puck in the Park</h1>
        </div>
        <div class="tournament">
            <h1 class="name">Annual Gene Harrington Winter Ice</h1>
        </div>
        <div class="tournament">
            <h1 class="name">Waterville Valley Deep Freeze</h1>
        </div>
        <div class="tournament">
            <h1 class="name">Pueblo SnowBull Fight</h1>
        </div>
        <div class="tournament">
            <h1 class="name">Las Vegas Women's Hockey Classic</h1>
        </div>
    </div>
</section>
{% endblock %}