{% extends 'base.html' %}

{% block title %} Suggest Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="A page where users can submit a new hockey tournament that is not yet on our platform.">
    <link rel="stylesheet" href="{% static 'css/tournament_entry.css' %}">
{% endblock %}

{% block content %}
<section class="jumbotron" style="background-image: url('{% static 'images/review-bg.jpg' %}')">
    <div class="title-container">
        <h1 class="title">Suggest Tournament</h1>
    </div>
</section>
{% endblock %}