{% extends 'base.html' %}

{% block title %} Suggest Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="A page where users can submit a new hockey tournament that is not yet on our platform.">
    <link rel="stylesheet" href="{% static 'css/tournament_entry.css' %}">
{% endblock %}

{% block content %}
<section class="form-section">
    <div class="form-wrapper">
        <h1>Add a Tournament</h1>
        <p>Ensure you aren't adding a duplicate by visitng our tournament <a href="{% url 'reviews:home' %}">search</a> page.</p>
        <form method="post" action="{% url 'reviews:tournament_entry' %}">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert">
                    Please correct the following issues.
                    <ul>
                        {% for error in form.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
{% endblock %}