{% extends 'base.html' %}

{% block title %}Promotion Request{% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Page that allows users to request a promotion on our website.">  
    <link rel="stylesheet" href="{% static 'css/info/promotion.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <!-- <script src="{% static 'js/main/landing.js' %}"></script> -->
{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="hero-wrapper">
            <h1 class="hero-title">Promotion Form</h1>
            <p class="gray-text">Get discovered by our community.</p>
        </div>
        <div class="form-wrapper">
            <form class="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button teal-theme" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
