<style>
    .form-wrapper {
        padding: 20px;
        border-radius: 16px;
        display: none;
        margin-bottom: 20px;
    }

    .filter-sections-wrapper {
        margin-bottom: 20px;
    }

    .filter-section-title {
       margin-bottom: 10px;
       color: #333; 
       font-weight: bold;
    }

    .display-filters-label {
        margin-bottom: 50px;
    }

    .activity-type-options {
        display: flex;
        flex-wrap: wrap;
    }

    .activity-type-option {
        display: flex;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .form-actions-wrapper {
        display: flex;
    }

    .form-actions-wrapper .button {
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .region-select {
        margin-bottom: 20px;
    }

    .region-select-box {
        padding: 8px 12px;
        border: 1px solid gray;
        outline: none;
        border-radius: 16px;
    }

    .region-select-box:hover {
        cursor: pointer;
    }

</style>

<div class="display-filters-label">
    <button id="toggleFilters" onclick="toggleFilters()" class="button filter light-theme">Display Filters</button>
    <button id="nearMeButton" onclick="getNearbyEntertainment()" class="button filter dark-theme">All Near Me</button>
    <button class="button red-theme" type="button" onclick="clearFilters()">Clear Filters</button>
</div>

<div id="formWrapper" {% if open_filters %}style="display: block;"{% else %}style="display: none;"{% endif %} class="form-wrapper medium-theme">
    <form id="filterForm" action="{% url 'entertainment:entertainment_home' %}" method="GET">

        <!-- Hidden location fields -->
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">

        <div class="filter-sections-wrapper">
            <div class="filter-section">
                <div class="filter-section-title">
                    Select Region
                </div>
                <div class="region-select">
                    <select id="regionSelect" name="region" class="region-select-box">
                        <option value="All" {% if selected_region == 'All' %} selected {% endif %}>All Regions</option>
                        <optgroup label="USA Regions">
                            <option value="South" {% if selected_region == 'South' %} selected {% endif %}>South</option>
                            <option value="West" {% if selected_region == 'West' %} selected {% endif %}>West</option>
                            <option value="North East" {% if selected_region == 'North East' %} selected {% endif %}>North East</option>
                            <option value="Mid West" {% if selected_region == 'Mid West' %} selected {% endif %}>Mid West</option>
                        </optgroup>
                        <optgroup label="Canada">
                            <option value="Alberta" {% if selected_region == 'Alberta' %} selected {% endif %}>Alberta</option>
                            <option value="British Columbia" {% if selected_region == 'British Columbia' %} selected {% endif %}>British Columbia</option>
                            <option value="Manitoba" {% if selected_region == 'Manitoba' %} selected {% endif %}>Manitoba</option>
                            <option value="New Brunswick" {% if selected_region == 'New Brunswick' %} selected {% endif %}>New Brunswick</option>
                            <option value="Newfoundland and Labrador" {% if selected_region == 'Newfoundland and Labrador' %} selected {% endif %}>Newfoundland and Labrador</option>
                            <option value="Nova Scotia" {% if selected_region == 'Nova Scotia' %} selected {% endif %}>Nova Scotia</option>
                            <option value="Ontario" {% if selected_region == 'Ontario' %} selected {% endif %}>Ontario</option>
                            <option value="Prince Edward Island" {% if selected_region == 'Prince Edward Island' %} selected {% endif %}>Prince Edward Island</option>
                            <option value="Quebec" {% if selected_region == 'Quebec' %} selected {% endif %}>Quebec</option>
                            <option value="Saskatchewan" {% if selected_region == 'Saskatchewan' %} selected {% endif %}>Saskatchewan</option>
                            <option value="Northwest Territories" {% if selected_region == 'Northwest Territories' %} selected {% endif %}>Northwest Territories</option>
                            <option value="Nunavut" {% if selected_region == 'Nunavut' %} selected {% endif %}>Nunavut</option>
                            <option value="Yukon" {% if selected_region == 'Yukon' %} selected {% endif %}>Yukon</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="filter-section">
                <div class="filter-section-title">
                    Select Activity Type
                </div>
                <div class="activity-type-options">
                    {% for activity_type_value, activity_type_label in activity_type_choices %}
                        <div class="activity-type-option">
                            <input type="checkbox" id="{{ activity_type_value }}" name="activity_type" value="{{ activity_type_value }}" {% if activity_type_value in selected_activity_types %} checked {% endif %}>
                            <label for="{{ activity_type_value }}">{{ activity_type_label }}</label><br>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-actions-wrapper">
            <button class="button green-theme" type="button" onclick="applyFilters()">Apply Filters</button>
        </div>
    </form>
</div>

<script>
    function toggleFilters() {
        var formWrapper = document.getElementById('formWrapper');
        var displayButton = document.getElementById('toggleFilters');

        if (formWrapper.style.display === 'block') {
            formWrapper.style.display = 'none';
            displayButton.innerText = 'Display Filters';
        } else {
            formWrapper.style.display = 'block';
            displayButton.innerText = 'Close Filters';
        }
    }

    function applyFilters() {
        document.getElementById('filterForm').submit();
    }

    function getNearbyEntertainment() {
        // Check if geolocation is supported by the browser
        if (navigator.geolocation) {
            // Get user's current location
            navigator.geolocation.getCurrentPosition(function(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;

                // Set the hidden fields in the form with user's coordinates
                document.getElementById('latitude').value = latitude;
                document.getElementById('longitude').value = longitude;

                // Submit the form to fetch nearby entertainment venues
                document.getElementById('filterForm').submit();
            });
        } else {
            alert("Geolocation is not supported by your browser.");
        }
    }

    function clearFilters() {
        var checkboxes = document.querySelectorAll('input[name="activity_type"]');
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = false;
        });

        document.getElementById('latitude').value = '';
        document.getElementById('longitude').value = '';
        document.getElementById('regionSelect').value = 'All';
        document.getElementById('filterForm').submit();
    }
</script>