{% load static %}
<div class="section footer gray-theme">
    <div class="footer-container">
        <div class="footer-hero">
            <div class="footer-title">Yht Reviews 2024</div>
            <div class="footer-credit">Youth Hockey Tournaments [yht]</div>
            <p class="small-text special-text">*This platform is under live maintenance and is updated weekly. If something does not work, please report it here.</p>
        </div>
        <div class="footer-link-wrapper">
            <div class="link-section">
                <div class="section-label">
                    <h1>Advertise</h1>
                </div>
                <div class="section-link">
                    <ul class="link-list">
                        <li><a class="aqua-link" href="{% url 'info:promotion' %}">Promote Tournament</a></li>
                        <li><a class="aqua-link" href="{% url 'info:promotion' %}">Promote Restaurant</a></li>
                        <li><a class="aqua-link" href="{% url 'info:promotion' %}">Promote Hotel</a></li>
                        <li><a class="aqua-link" href="{% url 'info:promotion' %}">Promote Activity</a></li>
                    </ul>

                </div>
            </div>
            <div class="link-section">
                <div class="section-label">
                    <h1>Help</h1>
                </div>
                <div class="section-link">
                    <ul class="link-list">
                        <li>Common Questions</li>
                        <li><a class="aqua-link" href="{% url 'info:feedback' %}">Leave Feedback</a></li>
                        <li><a class="aqua-link" href="{% url 'info:contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="link-section">
                <div class="section-label">
                    <h1>Apply</h1>
                </div>
                <div class="section-link">
                    <ul class="link-list">
                        <li>Site Editor <span class="small-text special-text">[coming soon]</span></li>
                        <li>Site Curator <span class="small-text special-text">[coming soon]</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>