{% extends 'base.html' %}

{% block title %}Add Restaurant{% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Page for adding a tournament restaurant.">  
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-3 form-wrapper">
    {% if error_message %}
        <p class="text-danger">{{ error_message }}</p>
    {% endif %}
    <h2>Add Restaurant</h2>
    <form method="POST" class="mt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}