{% extends 'base.html' %}

{% block title %}Add Tournament{% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Page for adding a tournament listing.">  
    <link rel="stylesheet" href="{% static 'css/tournament/create.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <!-- <script src="{% static 'js/main/landing.js' %}"></script> -->
{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="hero-wrapper">
            <h1 class="hero-title">New Tournament</h1>
        </div>
        <div class="form-wrapper">
            <form class="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button teal-theme" type="submit">Add Tournament</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
