{% extends 'base.html' %}

{% block title %}Tournament {{ tournament.id }} {% endblock %}
{% load static %}

{% block extra_head %}
    <meta name="description" content="Page for viewing the details of a selected hockey tournament.">  
    <link rel="stylesheet" href="{% static 'css/tournament/details.css' %}">
    <script src="{% static 'js/tournament/details.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <p class="text-black-50">{{ tournament.start_date }} - {{ tournament.end_date }}</p>
            <h1>{{ tournament.name }}</h1>
            <p class="text-muted">Total Upvotes: {{ tournament.total_upvotes }}</p>
            <!-- Add other details as needed -->
        </div>
        <div class="col-md-6">
            <p>Company: {{ tournament.company }}</p>
            <p><a target="_blank" href="{{ tournament.website }}">Tournament Site</a></p>
        </div>
    </div>
    <div class="row mt-3">
    <div class="col">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            More Info
        </button>
    </div>
</div>

<div class="collapse" id="collapseExample">
    <div class="row mt-3">
        <div class="col-md-3">
            <p class="text-small">Overall: <br>{{ tournament.overall_rating }} out of 5.0</p>
            <p class="text-small">Referee: <br>{{ tournament.reff_rating }} out of 5.0</p>
            <p class="text-small">Tournament Communication: <br>{{ tournament.comms_rating }} out of 5.0</p>
        </div>
        <div class="col-md-3">
            <p class="text-small">Games minimum: <br>{{ tournament.minimum_games_played }}</p>
            <p class="text-small">
                Level of play: <br>
                {% for age_category in tournament.levels_of_play.all %}
                {{ age_category.name }},
                {% empty %}
                <p class="text-muted">Levels not known yet.</p>
                {% endfor %}
            </p>
            <p class="text-small">
                Age groups: <br>
                {% for age_group in tournament.age_groups.all %}
                {{ age_group.name }},
                {% empty %}
                <p class="text-muted">Unknown</p>
                {% endfor %}
            </p>
        </div>
        <div class="col-md-3">
            <p class="text-small">
                First place hardware: <br>
                {% for hardware in tournament.first_place_hardware.all %}
                {{ hardware.name }},
                {% empty %}
                <p class="text-muted">Unknown</p>
                {% endfor %}
            </p>
            <p class="text-small">
                Second place hardware: <br>
                {% for hardware in tournament.second_place_hardware.all %}
                {{ hardware.name }},
                {% empty %}
                <p class="text-muted">Unknown</p>
                {% endfor %}
            </p>
        </div>
        <div class="col-md-3">
            <p class="text-small">Stay and Play: <br>{% if tournament.stay_and_play %}Yes{% else %}No{% endif %}</p>
            <p class="text-small">Extended Checkout: <br>{% if tournament.extended_checkout %}Yes{% else %}No{% endif %}</p>
        </div>
    </div>
</div>
    <div class="row mt-3">
        <hr>
        <div class="col">
            <div class="d-flex align-items-center justify-content-between">
                <h2>Rinks</h2>
                <a href="{% url 'tournaments:add_rink' tournament.id %}" class="btn btn-light btn-sm ms-2"><i class="fas fa-plus"></i> Add</a>
            </div>
            {% if rinks %}
                <ul>
                    {% for rink in rinks %}
                        <li><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ rink.address }}">{{ rink.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No rinks associated with this tournament yet.</p>
            {% endif %}
        </div>
    </div>
    <div class="row mt-3">
    <hr>
    <div class="col-md-4">
        <div class="d-flex align-items-center justify-content-between">
            <h2>Restaurants</h2>
            <a href="{% url 'tournaments:add_restaurant' tournament.id %}" class="btn btn-light btn-sm ms-2"><i class="fas fa-plus"></i> Add</a>
        </div>
        {% if restaurants %}
            <ul>
                {% for restaurant in restaurants %}
                    <li><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ restaurant.address }}">{{ restaurant.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-muted pt-2">No restaurants associated yet.</p>
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="d-flex align-items-center justify-content-between">
            <h2>Entertainment</h2>
            <a href="{% url 'tournaments:add_entertainment' tournament.id %}" class="btn btn-light btn-sm ms-2"><i class="fas fa-plus"></i> Add</a>
        </div>
        {% if entertainments %}
            <ul>
                {% for entertainment in entertainments %}
                    <li><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ entertainment.address }}">{{ entertainment.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-muted pt-2">No entertainment associated yet.</p>
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="d-flex align-items-center justify-content-between">
            <h2>Hotels</h2>
            <a href="{% url 'tournaments:add_hotel' tournament.id %}" class="btn btn-light btn-sm ms-2"><i class="fas fa-plus"></i> Add</a>
        </div>
        {% if hotels %}
            <ul>
                {% for hotel in hotels %}
                    <li><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ hotel.address }}">{{ hotel.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-muted pt-2">No hotels associated yet.</p>
        {% endif %}
    </div>
</div>
</div>
<div class="container py-5">
    <hr>
    <div class="d-flex align-items-center justify-content-between">
        <h2>Reviews</h2>
        <div>
            <a href="{% url 'tournaments:review' tournament.id %}" class="btn btn-primary btn-sm ms-2"><i class="fas fa-plus"></i> Add Review</a>
        </div>
    </div>
    <div class="container pt-3">
        <p>
            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                Filters
            </button>
        </p>
        <div class="collapse {% if is_filtering %}show{% endif %}" id="filterCollapse">
            <form method="GET">
                <div class="row mb-3">
                    <div class="col">
                        <label for="start_date" class="form-label">Start Date:</label>
                        <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date_value|default_if_none:'' }}">
                    </div>
                    <div class="col">
                        <label for="end_date" class="form-label">End Date:</label>
                        <input type="date" id="end_date" name="end_date" class="form-control" value="{{ end_date_value|default_if_none:'' }}">
                    </div>
                </div>

                <div class="col text-end">
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <button type="button" class="btn btn-secondary" onclick="clearFilters()">Clear</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 py-3">
        {% for review in reviews %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ review.comment | truncatechars:120 }}</p>
                    <div class="text-end">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#reviewModal{{ review.id }}">Read more</a>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ review.date }}</li>
                    <li class="list-group-item">Rating: {{ review.rating }}</li>
                </ul>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="reviewModal{{ review.id }}" tabindex="-1" aria-labelledby="reviewModalLabel{{ review.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reviewModalLabel{{ review.id }}">Full Review</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="fw-bold">Experience</p>
                            <p>{{ review.comment }}</p>
                            <hr>
                            <p class="fw-bold">Parking</p>
                            {% if review.parking_notes %}
                                <p>{{ review.parking_notes }}</p>
                            {% else %}
                                <p class="text-muted">No parking notes for this review.</p>
                            {% endif %}
                            <hr>
                            <p class="fw-bold">Ratings</p>
                            <p>Vote: {{ review.vote }}</p>
                            <p>Referee: {{ review.referee_rating }}</p>
                            <p>Comms: {{ review.comms_rating }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">No reviews available for this range.</p>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}