{% extends 'base.html' %}

{% block title %}Tournament Details{% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Page for viewing the details of a selected hockey tournament.">  
    <link rel="stylesheet" href="{% static 'css/tournament/get_tournament.css' %}">
    <!-- <script src="{% static 'js/main/landing.js' %}"></script> -->
{% endblock %}

{% block content %}
<div class="section hero">
    <div class="container">
        <div class="hero-wrapper">
            <div class="tournament-date">{{ tournament.date }}</div>
            <h1 class="hero-title">{{ tournament.name }}</h1>
            <div class="tournament-company">Hosted by {{ tournament.company }}</div>
        </div>
    </div>
</div>

<div class="section links">
    <div class="container">
        <div class="tournament-site"><i class="fa-solid fa-globe"></i> <a class="site-link" href="{{ tournament.website }}" target="_blank">Offical Tournament Site</a></div>
        <div class="tournament-address"><i class="fa-regular fa-compass"></i> {{ tournament.address }}</div>
    </div>
</div>


<div class="section details container">
    <div class="details-wrapper">
        <div class="section ratings">
            <div class="card rating-card">
                <h3 class="card-title">Ratings</h3>
                <div class="card-content">
                    <div class="content-label">Referee Quality</div>
                    <div class="content-value">{{ tournament.reff_rating }} out of 5.0</div>
                </div>
                <div class="card-content">
                    <div class="content-label">Director of Communication</div>
                    <div class="content-value">{{ tournament.comms_rating }} out of 5.0</div>
                </div>
            </div>
        </div>

        <div class="section parking">
            <div class="card parking-card">
                <h3 class="card-title">Parking</h3>
                <div class="card-content-wrapper">
                    <div class="card-content parking">
                        <div class="content-label">Size</div>
                        <div class="content-value">{{ tournament.parking_size }}</div>
                    </div>
                    <div class="card-content parking">
                        <div class="content-label">Valet</div>
                        <div class="content-value">{% if tournament.parking_valet %}Yes{% else %}No{% endif %}</div>
                    </div>
                    <div class="card-content parking">
                        <div class="content-label">Cost</div>
                        <div class="content-value">{{ tournament.parking_cost }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section agreement">
            <div class="card agreement-card">
                <h3 class="card-title">Agreement</h3>
                <div class="card-content">
                    <div class="content-label">Stay and Play</div>
                    <div class="content-value">{% if tournament.stay_and_play %}Yes{% else %}No{% endif %}</div>
                </div>
                <div class="card-content">
                    <div class="content-label">Extended Checkout</div>
                    <div class="content-value">{% if tournament.extended_checkout %}Yes{% else %}No{% endif %}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section reviews">
    <hr>
    <div class="container">
        <h3 class="review-section-title">User Reviews</h3>
        <div class="split-wrapper">
            <div class="status-line">Showing latest reviews.</div>
            <div class="review-link"><a class="add-review-link" href="#">+ Add New Review</a></div>
        </div>
        <div class="reviews-wrapper">
            {% for review in reviews %}
            <div class="review">
                <div class="review-label">{{ review.date|date:"F" }}</div>
                <div class="review-preview">{{ review.comment }}</div>
            </div>
            {% empty %}
                <div class="review-status-line empty-review">Be the first to review this tournament!</div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}