{% extends 'base.html' %}

{% block title %}Tournament Home{% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Main tournaments page.">  
    <script src="{% static 'js/tournament/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container pt-3">
    <p>
        <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
            Filters
        </button>
        <a class="btn btn-primary" href="{% url 'tournaments:create' %}">Submit New Tournament</a>
    </p>
    <div class="collapse {% if is_filtering %}show{% endif %}" id="filterCollapse">
        <form method="GET">
            <div class="row mb-3">
                <div class="col">
                    <label for="major_city" class="form-label">City Name:</label>
                    <input type="text" id="major_city" name="major_city" class="form-control" value="{{ major_city_value|default_if_none:'' }}">
                </div>
                <div class="col">
                    <label for="tournament_name" class="form-label">Tournament Name:</label>
                    <input type="text" id="tournament_name" name="tournament_name" class="form-control" value="{{ tournament_name_value|default_if_none:'' }}">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="start_date" class="form-label">Start Date:</label>
                    <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date_value|default_if_none:'' }}">
                </div>
                <div class="col">
                    <label for="end_date" class="form-label">End Date:</label>
                    <input type="date" id="end_date" name="end_date" class="form-control" value="{{ end_date_value|default_if_none:'' }}">
                </div>
            </div>

            <div class="col text-end">
                <button type="submit" class="btn btn-primary">Filter</button>
                <button type="button" class="btn btn-secondary" onclick="clearFilters()">Clear</button>
            </div>
        </form>
    </div>
</div>

<div class="container py-2">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for tournament in tournament_listings %}
        <div class="col">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">{{ tournament.majorcity }}</li>
                </ul>
                <div class="card-body bg-dark text-light">
                    <h5 class="card-title">{{ tournament.name }}</h5>
                    <div class="d-flex align-items-center justify-content-between">
                        <p>{{ tournament.overall_rating }} / 5.0</p>
                        <p>{{ tournament.total_upvotes }} upvotes</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Levels of Play:
                        {% for age_category in tournament.levels_of_play.all %}
                            {{ age_category.name }},
                        {% empty %}
                            <p class="text-muted">Not Known Yet.</p>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                        Age Groups:
                        {% for age_group in tournament.age_groups.all %}
                            {{ age_group.name }},
                        {% empty %}
                            <p class="text-muted">Not Known Yet.</p>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                        Early Bird Discount:
                        {% if tournament.early_bird_discount %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        Multi-Team Discount:
                        {{ tournament.multi_team_discount }}
                    </li> 
                </ul>
                <div class="card-body text-center">
                    <a href="{% url 'tournaments:get' tournament.id %}" class="card-link">Details & Reviews</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}