{% extends 'base.html' %}

{% block title %}Success{% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="A thank you and success page to display after the user has made a contributing to our site.">  
    <!-- <script src="{% static 'js/main/landing.js' %}"></script> -->
{% endblock %}

{% block content %}
<div class="container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1 class="hero-title">Success!</h1>
                {% if messages %}
                    {% for message in messages %}
                        <p class="gray-text">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <br>
                <a class="btn btn-primary" href="{% url 'tournaments:get' tournament_id %}">Back to Tournament</a>
            </div>
        </div>
    </div>
{% endblock %}