{% extends 'base.html' %}

{% block title %}Tournament Home{% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Main tournaments page.">  
    <link rel="stylesheet" href="{% static 'css/tournament/tournament_home.css' %}">
    <!-- <script src="{% static 'js/main/landing.js' %}"></script> -->
{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="hero-wrapper">
            <h1>Upcoming Tournaments</h1>
            {% include 'components/tournament_filter.html' %}
            
        </div>

        {% if selected_months %}
        <div class="showing-for">
            Showing results for month(s): 
            {% for month in selected_months %}
                <span>{{month}},</span>
            {% endfor %}
        </div>
        {% endif %}

        <div class="results-wrapper">
            <div class="tournament-list">
            {% for tournament in upcoming_tournaments %}
                <div class="tournament">
                    <div class="tournament-content">
                        <div class="tournament-name">{{ tournament.name }}</div>
                        <div class="tournament-address">{{ tournament.address }}</div>
                        <div class="tournament-website">
                            <a href="{{ tournament.website }}" target="_blank">{{ tournament.website }}</a>
                        </div>
                        <div class="tournament-location">{{ tournament.location }}</div>
                        <div class="tournament-upvotes">Upvotes: {{ tournament.upvotes }}</div>
                        <div class="tournament-downvotes">Downvotes: {{ tournament.downvotes }}</div>
                        <div class="tournament-reff-rating">Referee Rating: {{ tournament.reff_rating }}</div>
                        <div class="tournament-comms-rating">Communications Rating: {{ tournament.comms_rating }}</div>
                        <div class="tournament-parking-size">Parking Size: {{ tournament.parking_size }}</div>
                        <div class="tournament-parking-valet">Valet Parking: {{ tournament.parking_valet }}</div>
                        <div class="tournament-parking-cost">Parking Cost: {{ tournament.parking_cost }}</div>
                        <div class="tournament-stay-and-play">Stay and Play: {{ tournament.stay_and_play }}</div>
                        <div class="tournament-extended-checkout">Extended Checkout: {{ tournament.extended_checkout }}</div>
                        <div class="tournament-draft-status">Draft Status: {{ tournament.draft_status }}</div>
                    </div>
                </div>
                {% empty %}
                <p>No tournaments to show here.</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
