{% extends 'base.html' %}

{% block title %}Tournament Home{% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Main tournaments page.">  
    <link rel="stylesheet" href="{% static 'css/tournament/tournament_home.css' %}">
    <script src="{% static 'js/tournament/tournament.js' %}"></script>
{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="hero-wrapper">
            <h1 class="hero-title">Tournament Listings</h1>
            
            <!-- Filter Component -->
            {% include 'components/tournament_filter.html' %}
            
        </div>

        <!-- Results for: etc... -->
        <div class="split-wrapper">
            <div class="status-line">{{ status_line }}</div>
            <div class="listing-link"><a class="add-listing-link" href="{% url 'tournaments:create' %}">+ Add New Listing</a></div>
        </div>
        

        <div class="results-wrapper">
            <div class="tournament-list">
            {% for tournament in tournament_listings %}
                <div class="tournament">
                    <div class="region-with-buttons">
                        <div class="region-label">
                            {{tournament.majorcity}}
                        </div>
                        <div class="share-like-buttons">
                            <div><button onclick="shareLink('{{ tournament.id }}')" class="button light-theme"><i class="fa-solid fa-arrow-up-from-bracket"></i> Share</button></div>
                            <div><button class="button red-theme disabled"><i class="fa-regular fa-heart"></i> Save</button></div>
                        </div>
                    </div>
                    <div class="tournament-hero">
                        <div class="tournament-rating">Rating [{{ tournament.overall_rating }}]</div>
                        <div class="tournament-name"><a class="tournament-name-link" href="{% url 'tournaments:get_tournament' tournament.id %}">{{ tournament.name }}</a></div>
                    </div>
                    <div class="tournament-runner-details">
                        <div class="runner-detail">{{tournament.date|date:"F"}}</div>
                        {% if tournament.stay_and_play %}
                            <div class="spacer-dot">&#x2022;</div>
                            <div class="runner-detail"> 
                                Stay & Play
                            </div>
                        {% else %}
                                
                        {% endif %}     
                        <div class="spacer-dot">&#x2022;</div>
                        <div class="runner-detail"> 
                            {{tournament.parking_cost}} Parking
                        </div>
                    </div>
                    <div class="tournament-content">
                    
                    </div>
                </div>
                {% empty %}
                <p class="section">No tournaments for the selected filters.</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
