.section {

}

.banner.top {
    background: linear-gradient(indigo, steelblue);
    padding-top: 120px;
    padding-bottom: 60px;
}

.banner-title {
    font-weight: normal;
    color: white;
    font-size: 2rem;
}

.banner-subtitle {
    color: white;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.button {
    padding: 13px;
    background: darkgreen;
    color: white;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.add-link {
    color: darkgreen;
}

.section-container {
    margin-top: 40px;
}

.restaurants-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.restaurant {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px;
    transition: .3s all;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.restaurant:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: .3s all;
}

.table-labels {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 40px;
    padding: 10px;
    border-bottom: 1px solid gray;
}