{% extends 'base_home.html' %}

{% block title %} Home page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Discover the hockey tournament review platform.">  
    <script src="{% static 'js/main/landing.js' %}"></script>
    <script src="{% static 'js/main/location.js' %}"></script>
{% endblock %}

{% block content %}
<section class="jumbotron text-center py-5">
    <div class="container">
        <h1 class="jumbotron-heading">Plan. Connect. Review.</h1>
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Use col-md-6 to take up 6 columns on medium-sized screens and center it -->
                <p class="lead text-muted">Your go-to for youth hockey tournaments, nearby dining, entertainment, & hotels. Elevate your hockey experience today!</p>
            </div>
        </div>
        <p>
        <a href="{% url 'tournaments:index' %}" class="btn btn-primary my-2">View Tournaments</a>
        <a href="#" class="btn btn-secondary my-2">Learn More</a>
        </p>
    </div>
</section>
<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Our Features</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="text-body-emphasis">Hockey reviews. Community powered. You're the expert here.</h2>
        <p class="text-body-secondary">We give users the power to add new locations, leave reviews, and collaborate to shape this platform in the best way possible.</p>
        <a href="{% url 'tournaments:index' %}" class="btn btn-primary btn-lg">Get Started</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-start fs-4 rounded-3">
              <img height="48px" class="rounded-3" src="{% static 'images/landing/rinks.jpg' %}" alt="" >
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Rinks</h4>
            <p class="text-body-secondary">See all the rinks tournaments use before going.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-start fs-4 rounded-3">
                <img height="48px" class="rounded-3" src="{% static 'images/landing/restaurants.jpg' %}" alt="" >
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Restaurants</h4>
            <p class="text-body-secondary">Find accommodating places to eat for your team.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-start fs-4 rounded-3">
              <img height="48px" class="rounded-3" src="{% static 'images/landing/entertainment.jpg' %}" alt="" >
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Entertainment</h4>
            <p class="text-body-secondary">Plan out fun things to do while you're there.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-start fs-4 rounded-3">
              <img height="48px" class="rounded-3" src="{% static 'images/landing/hotels.jpg' %}" alt="" >
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Hotels</h4>
            <p class="text-body-secondary">See the safest options for staying the night.</p>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
