{% extends 'base_home.html' %}

{% block title %} Home page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Discover the hockey tournament review platform.">  
    <script src="{% static 'js/main/landing.js' %}"></script>
    <script src="{% static 'js/main/location.js' %}"></script>
{% endblock %}

{% block content %}
<section class="jumbotron text-center py-5">
    <div class="container">
        <h1 class="jumbotron-heading">Plan. Connect. Review.</h1>
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Use col-md-6 to take up 6 columns on medium-sized screens and center it -->
                <p class="lead text-muted">Your go-to for youth hockey tournaments, nearby dining, entertainment, & hotels. Elevate your hockey experience today!</p>
            </div>
        </div>
        <p>
        <a href="{% url 'tournaments:index' %}" class="btn btn-dark my-2">View Tournaments</a>
        <a href="#" class="btn btn-secondary my-2">Learn More</a>
        </p>
    </div>
</section>
{% endblock %}
