{% extends 'base.html' %}

{% block title %} Location Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Displays all tournaments at a given city and state.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/tournaments_by_state.css' %}">
    <link rel="stylesheet" href="{% static 'css/general-list.css' %}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="banner top">
        <div class="container">
            <p class="banner-subtitle">Tournaments in</p>
            <h1 class="banner-title">{{ city }}</h1>
        </div>
    </div>
</section>

<div class="container section-container">
    <h3 class="title">Select a Tournament</h3>
    <div class="city-container">
        {% for tournament in city_tournaments %}
            <a class="city" href="#">
                <p class="state_code">{{ tournament.name }}</p> 
            </a>
            {% empty %}
            <p>No tournaments at this location yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}