{% extends 'base.html' %}

{% block title %} Detail Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Displays the information for a given tournament.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/tournament_by_id.css' %}">
    <script src="{% static 'js/tournament_by_id.js' %}"></script>
{% endblock %}

{% block content %}
<section class="section">
    <div class="banner top">
        <div class="container">
            <div class="rating-favorite-wrapper">
                <div class="tournament-rating">
                    <div class="star-rating">
                        <!-- Display whole stars -->
                        {% for _ in whole_stars %}
                            <i class="fa-solid fa-star"></i>
                        {% endfor %}

                        <!-- Display half star -->
                        {% for _ in half_star %}
                            <i class="fa-regular fa-star-half-stroke"></i>
                        {% endfor %}

                        <!-- Display empty stars -->
                        {% for _ in empty_stars %}
                            <i class="fa-regular fa-star"></i>
                        {% endfor %}
                    </div>
                    <div class="number-rating">
                        <span>({{tournament.rating_overall}})</span>
                    </div>
                </div>
                <a class="favorite-link" href="">+ Add To Favorites</a>
            </div>
            <h1 class="banner-title">{{ tournament.name }}</h1>
            <div class="rink-list">
                <h4 class="rinks-title">Tournament Rinks [{{ rinks|length }}]</h4>
                {% for rink in rinks %}
                    <div class="rink">
                        <a class="rink-location" href="https://www.google.com/maps/search/?api=1&query={{ rink.address|urlencode }}" target="_blank">
                            <i class="fa-solid fa-location-dot"></i> {{ rink.name }}
                        </a>
                    </div>
                    {% empty %}
                    <p>No rinks exist for this tournament yet.</p>
                {% endfor %}
            </div>
            <div class="hotel-list">
                <h4 class="hotels-title">Tournament Hotels [{{ rinks|length }}]</h4>
                {% for rink in rinks %}
                    <div class="hotel">
                        <a class="hotel-location" href="https://www.google.com/maps/search/?api=1&query={{ rink.address|urlencode }}" target="_blank">
                            <i class="fa-solid fa-location-dot"></i> placeholder hotel
                        </a>
                    </div>
                    {% empty %}
                    <p>No hotels exist for this tournament yet.</p>
                {% endfor %}
            </div>
            <div class="thumbs-actions-container">
                <div class="thumbs-wrapper">
                    <span class="likes">
                        <i class="fa-regular fa-thumbs-up"></i> {{ tournament_metadata.count_thumbs_up }}
                    </span>
                    <span class="dislikes">
                        <i class="fa-regular fa-thumbs-down"></i> {{ tournament_metadata.count_thumbs_down }}
                    </span>
                </div>
                <div class="nearby-actions">
                    <a class="nearby-link" href="{% url 'restaurants:restaurants_by_tournament' tournament.id %}"><i class="fa-solid fa-utensils"></i> Nearby Restaurants</a>
                    <a class="nearby-link" href="{% url 'entertainments:entertainments_by_tournament' tournament.id %}"><i class="fa-solid fa-circle-nodes"></i> Nearby Entertainment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="tournament-details">
    <div class="container">
        <h4 class="details-title">Tournament Details</h4>
        <div class="details-wrapper">
            <div class="detail-section">
                <div class="detail-item">
                    <div class="label">Reffing quality</div>
                    <div class="value">{{ tournament_metadata.rating_reffing }}</div>
                </div>
                <div class="detail-item">
                    <div class="label">Communication quality</div>
                    <div class="value">{{ tournament_metadata.rating_comms }}</div>
                </div>
                <div class="detail-item">
                    <div class="label">Hotels quality</div> 
                    <div class="value">{{ tournament_metadata.rating_hotels }}</div>
                </div>
            </div>
            <div class="detail-section">
                <div class="detail-item">
                    <div class="label">Parking cost</div>
                    <div class="value">{{ tournament_metadata.parking_cost }}</div>
                </div>
                <div class="detail-item">
                    <div class="label">Parking valet</div>
                    <div class="value">
                        {% if tournament_metadata.parking_valet %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
                <div class="detail-item">
                    <div class="label">Parking size</div>
                    <div class="value">{{ tournament_metadata.parking_size }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tournament-reviews">
    <div class="container">
        <div class="reviews-title-add-wrapper">
            <h4 class="reviews-title">Tournament Reviews</h4>
            <a class="favorite-link" href="{% url 'reviews:add_tournament_review' tournament.id %}">+ Add Review</a>
        </div>
        
        <div class="month-slider">
            <div class="slide-button slide-left"><i class="fa-solid fa-caret-left"></i></div>
            <div class="month-list">
                <div class="month active">All</div>
                <div class="month">January-March</div>
                <div class="month">April-June</div>
                <div class="month">July-September</div>
                <div class="month">October-December</div>
            </div>
            <div class="slide-button slide-right"><i class="fa-solid fa-caret-right"></i></div>
        </div>
        <div class="reviews-wrapper">
            {% for review in short_reviews %}
                <a class="review" data-month="{{ review.date_of_review|date:'F' }}" href="">
                    <div class="review-data">
                        <div class="review-title">{{ review.title }}</div>
                        <div class="review-text">{{ review.review_text|truncatechars:200 }}</div>

                        <div class="review-meta">
                            <div class="review-date">{{ review.date_of_review|date:'F' }}</div>
                            <div class="review-rating">{{ review.overall_rating }} <i class="fa-solid fa-star"></i></div>
                        </div>
                    </div>
                </a>
            {% empty %}
                <p>No short reviews found for this tournament.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}