.faq-section {
    padding-top: 120px;
}

.faq-wrapper {
    padding: 0 10%;
}

.qa-group {
    margin-bottom: 80px;
}

.answer {
    padding-left: 2rem;
}

.question {
    font-weight: bold;
}

.group-name {
    font-weight: normal;
}