/* Base styles for form container */
.form.container {
    margin: 0 auto;
    padding-bottom: 80px;
}

/* Styles for form labels */
.form.container label {
    display: block;
    margin-bottom: 5px;
}

/* Styles for form labels */
.form.container label {
    display: block;
    margin-bottom: 5px;
}

/* Styles for textareas */
.form.container textarea {
    width: 99%;
}

/* Remove outline from input fields */
.form.container input,
.form.container select,
.form.container textarea {
    outline: none;
    background-color: aliceblue;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 5px;
    font-size: 1em;
}

.errorlist {
    padding: 0;
    border: 1px solid black;
    list-style-type: none;
    color: white;
    background: darkred;
    padding: 2px;
}

/* Styles for help text */
.helptext {
    display: block;
    margin-top: 5px; /* Add space between input and help text */
    font-size: 0.8em; /* Adjust font size of help text */
    color: #666; /* Adjust color of help text */
}

/* Styles for submit button */
.submit-button {
    font-size: .9em;
    margin-top: 10px;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    width: fit-content;
    border: 1px solid black;
    background: darkgreen;
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background 0.3s ease; /* Smooth transition for background color change */
}

/* Hover effect for submit button */
.submit-button:hover {
    background: green;
}