.jumbotron {
    padding: 5rem 0;
    background-image: url('/static/images/landing/slide1.jpg'); /* Change the path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}