.jumbotron {
    background-size: cover; /* or "contain" depending on your preference */
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
    max-width: 90%;
    width: 70%;
    margin: 0 auto;
}

.jumbotron-content-wrapper {
    padding-top: 15vh;
    height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advertisement-wrapper {
    padding: 20px;
    background: rgb(255, 255, 255);
    color: darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: fit-content;
    border-radius: 12px;
}

.advertisement-wrapper p {
    margin: 0;
}

.title {
    font-size: 4em;
    color: white;
    margin: 0;
}

.subtitle {
    font-size: 1em;
    letter-spacing: .1rem;
    color: white;
}

.action-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-link {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s;
}

.action-link:hover {
    color: darkgreen;
    transition: color 0.2s;
}

#review {
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .title-container {
        flex-direction: column;
        align-items: normal;
    }

    .title {
        font-size: 2.5em;
    }
}