/* Main stylesheet */
body {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
}

.navigation-bar {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: linear-gradient(180deg, black, transparent);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    color: white;
    width: 90%;
    margin: 0 auto;
}

.nav-button i {
    cursor: pointer;
    padding: 10px;
    padding-right: 0;
    font-size: 1.2rem;
}

.close-button {
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logo-wrapper img {
    width: 60px; 
    height: auto; 
}

.hidden-navigation-bar {
    position: fixed;
    top: -120%;
    width: 100%;
    background-color: black;
    transition: top 0.3s ease;
}

.hidden-navigation-bar.nav-opened {
    top: 0;
    transition: top 0.3s ease;
}

.hidden-navigation-bar .nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.close-button i {
    padding: 40px;
    padding-right: 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.navlist-wrapper {
    padding: 0 20px;
    margin-top: 8vh;
}

.nav-close-container {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
}

.nav-list .nav-link {
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 0;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.nav-list .nav-link:hover {
    color: rgb(127, 127, 127);
}

.nav-spacer {
    padding-top: 80px;
}

/* Spacing & Structure */
.container {
    max-width: 900px;
    margin: 0 auto;
}

.split-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

/* Buttons & Links */
.button {
    padding: 8px 12px;
    outline: none;
    border: 1px solid gray;
    border-radius: 16px;
    font-size: 14px;
}

.button:hover {
    cursor: pointer;
}

.button-link {
    padding: 8px 12px;
    outline: none;
    border: 1px solid gray;
    border-radius: 16px;
    font-size: 14px;
    text-decoration: none;
}

/* Theme related */
.dark-theme {
    color: #f6f6f6;
    background: black;
}

.light-theme {
    color: #333;
    background: #f5f5f6;
}

.medium-theme {
    color: black;
    background: rgb(224, 224, 224);
}

.red-theme {
    color: white;
    background: darkred;
}

.blue-theme {
    background: #00008B; /* Dark Blue */
    color: #F5F5F5; /* Whitesmoke */
}

.green-theme {
    background: #006400; /* Dark Green */
    color: #F5F5F5; /* Whitesmoke */
}

.gold-theme {
    background: #B8860B; /* Dark Goldenrod */
    color: black;
}

.purple-theme {
    background: #4B0082; /* Dark Purple */
    color: white;
}

.teal-theme {
    background: #008080; /* Dark Teal */
    color: #F5F5F5; /* Whitesmoke */
}

.slate-gray-theme {
    background: #2F4F4F; /* Dark Slate Gray */
    color: #F5F5F5; /* Whitesmoke */
}

.gray-theme {
    background: rgb(69, 69, 69);
    color: white;
}

/* Typography */
.small-text {
    font-size: 12px;
}

.gray-text {
    color: lightgray;
}

.dark-text {
    color: #333;
}

.warning-text {
    color: darkred;
}

.special-text {
    color: aquamarine;
}

/* Footer */
.section.footer {
    padding: 100px 0 70px 0;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
}

.footer-hero {
    margin-bottom: 50px;
}

.footer-link-wrapper {
    display: flex;
}

.section-label h1 {
    font-size: 20px;
    font-weight: bold;
}

.link-section {
    margin-bottom: 30px;
    margin-right: 20px;
}

.link-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

@media screen and (max-width: 960px) {
    .container {
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .footer-link-wrapper {
        flex-direction: column;
    }
}