/* Main stylesheet */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.navigation-bar {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: linear-gradient(180deg, black, transparent);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    color: white;
    width: 80%;
    margin: 0 auto;
}

.nav-button i {
    cursor: pointer;
    padding: 10px;
    padding-right: 0;
    font-size: 1.2rem;
}

.close-button {
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logo-wrapper img {
    width: 90px; 
    height: auto; 
}

.hidden-navigation-bar {
    position: fixed;
    top: -100%;
    width: 100%;
    background-color: black;
    transition: top 0.3s ease;
}

.hidden-navigation-bar.nav-opened {
    top: 0;
    transition: top 0.3s ease;
}

.hidden-navigation-bar .nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.close-button i {
    padding: 40px;
    padding-right: 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.navlist-wrapper {
    padding: 0 20px;
    margin-top: 100px;
}

.nav-close-container {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

.nav-list .nav-link {
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 0;
    font-size: 1.4rem;
}

.nav-list .nav-link:hover {
    color: rgb(127, 127, 127);
}