.jumbotron {
    background-size: cover; /* or "contain" depending on your preference */
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
    max-width: 90%;
    width: 70%;
    margin: 0 auto;
}

.jumbotron-content-wrapper {
    padding: 15vh 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.title {
    font-size: 4em;
    color: white;
    margin: 0;
}

.subtitle {
    font-size: 1em;
    letter-spacing: .1rem;
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchbar-wrapper input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 24px;
}

.search-button-wrapper button {
    padding: 10px;
    border: none;
    outline: none;
    background: darkgreen;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.action-container {
    width: 90%;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}

.user-action-title {
    color: gray;
}

.button-container {  
    display: flex;
}

.button-wrapper .button {
    width: fit-content;
    padding: 10px;
    background: green;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

.tournaments-container {
    padding: 1rem;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tournaments-container a {
    text-decoration: none;
}

.tournament {
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(205, 205, 205);
    color: #333;
    margin-bottom: 2rem;
    transition: all .3s;
    cursor: pointer;
}

.tournament:hover {
    background-color: darkgreen;
    color: white;
    transition: all .3s;
    border-radius: 0;
}

.rating-likes {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes-dislikes {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.likes {
    margin: 0;
}

.stars {
    margin: 0;
}

.dislikes {
    margin: 0;
}

.name {
    font-weight: normal;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 2em;
    }

    .search-container {
        flex-direction: column;
        align-items: center;
    }

    .search-button-wrapper {
        padding: 0 10px;
        width: 100%;
    }

    .go-button {
        width: 100%;
    }

    .tournaments-container {
        flex-direction: column;
    }

    .tournament {
        width: auto;
    }
}