.jumbotron {
    height: 100vh;
    background-size: cover; /* or "contain" depending on your preference */
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.title-container {
    position: absolute;
    top: 20%; /* Position the title container at the vertical center of the jumbotron */
    left: 10%; /* Position the title container at the horizontal center of the jumbotron */
}

.title {
    font-size: 4em;
    color: white;
    margin: 1rem 0;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 3em;
    }
}