.section {

}

.banner.top {
    padding-top: 120px;
}

.banner-title {
    font-weight: normal;
    font-size: 2rem;
}

.tournament-location {
    display: block;
    width: fit-content;
}

.favorite-link {
    display: block;
    padding: 10px 0;
}

.tournament-rating {
    font-size: .9rem;
    display: flex;
}

.tournament-rinks {

}

.star-rating {
    margin-right: 1rem;
}

.thumbs-actions-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    flex-wrap: wrap;
    gap: 2rem;
}

.thumbs-wrapper {
    display: flex;
    gap: .8rem;
}

.nearby-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.nearby-link {
    color: gray;
    pointer-events: none;
}

.nearby-link:hover {
    color: gray;
    cursor: none;
}

.section-title {
    font-size: 2rem;
    font-weight: normal;
}

.details-wrapper {
    display: flex;
}

.detail-section {
    padding: 0 10px;
    width: 50%;
    margin-bottom: 10px;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid gray;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.title-action-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-link {
    padding: 8px;
    text-decoration: none;
    background: darkgreen;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.action-link:hover {
    background: black;
    color: white;
}

.review {
    display: block;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 1rem;
}

.review:hover {
    background: black;
    color: white;
}

.review-title {
    font-weight: bold;
}
.review-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.review-meta {
    display: flex;
    justify-content: space-between;
}

.rink-list {

}

@media screen and (max-width: 960px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .action-link {
        text-align: center;
        width: 100%;
    }

    .title-action-wrapper {
        margin-bottom: 50px;
        flex-wrap: wrap;
    }

    .details-wrapper {
        flex-direction: column;
    }

    .detail-section {
        width: auto;
    }
}