.jumbotron {
    height: 50vh;
    background-size: cover; /* or "contain" depending on your preference */
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.title-container {
    position: absolute;
    top: 30%; /* Position the title container at the vertical center of the jumbotron */
    left: 10%; /* Position the title container at the horizontal center of the jumbotron */
}

.title {
    font-size: 4em;
    color: white;
    margin: 1rem 0;
}

.subtitle {
    font-size: 1em;
    letter-spacing: .1rem;
    color: white;
}

#search_input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    padding-left: 20px;
    font-size: 1.1em;
    border-radius: 24px;
}

.searchbar-wrapper {
    display: flex;
    gap: 1rem;
}

.go-button {
    background-color: white;
    color: black;
    border-radius: 24px;
    padding: 0 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color .2s;
    font-weight: bold;
}

.go-button:hover {
    background-color: darkgreen;
    color: white;
    transition: color .2s;
}

.search-results {
    padding: 1rem;
    height: 100vh;
}

.tournaments-container {
    padding: 1rem;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tournaments-container a {
    text-decoration: none;
}

.tournament {
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(205, 205, 205);
    color: #333;
    margin-bottom: 2rem;
    transition: all .3s;
    cursor: pointer;
}

.tournament:hover {
    background-color: darkgreen;
    color: white;
    transition: all .3s;
    border-radius: 0;
}

.rating-likes {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes-dislikes {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.likes {
    margin: 0;
}

.stars {
    margin: 0;
}

.dislikes {
    margin: 0;
}

.name {
    font-weight: normal;
}

.add-button-wrapper {
    margin: 4rem auto;
    padding-left: 5%;
    max-width: 900px;
}

.add-button {
    border-radius: 12px;
    padding: 20px;
    background-color: darkgreen;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .jumbotron {
        height: 60vh;
    }

    .searchbar-wrapper { 
        margin-top: 20%;
        max-width: 80%;
    }

    .title {
        font-size: 3em;
    }

    .tournaments-container {
        flex-direction: column;
    }

    .tournament {
        width: auto;
    }
}