.form-section {
    padding-top: 120px;
    margin-bottom: 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.helptext {
    padding-top: .3rem;
    color: rgb(133, 133, 133);
    display: block;
}

.form-wrapper {
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
}

.form-wrapper label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="date"], input[type="email"], input[type="password"], input[type="number"] {
    width: fit-content;
    padding: 20px;
    border: none;
    outline: none;
    background-color: rgb(206, 206, 206);
    border-radius: 24px;
    font-size: 1.1em;
}

textarea {
    padding: 20px;
    border: none;
    outline: none;
    background-color: rgb(206, 206, 206);
    border-radius: 24px;
    width: 90%;
}

select {
    width: fit-content;
    padding: 20px;
    border: none;
    outline: none;
    background-color: rgb(206, 206, 206);
    border-radius: 24px;
}

button {
    background-color: darkgreen;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 12px;
    border: none;
    outline: none;
    margin-top: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(206, 206, 206);
}

.alert {
    background: darkred;
    padding: 10px;
    color: white;
}

@media only screen and (max-width: 768px) {
}