.section {

}

.banner.top {
    background: linear-gradient(black, darkgreen);
    padding-top: 120px;
    padding-bottom: 60px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.search-container {
    padding-top: 10px;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 10px;
    outline: none;
    border: none;
    background: rgb(123, 123, 123);
    border-radius: 12px;
    color: white;
    font-size: 1.2rem;
    width: 100%;
}

input::placeholder {
    color: rgb(203, 203, 203);
    font-size: 1rem;
}

.button {
    padding: 13px;
    background: darkgreen;
    color: white;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.button.filter {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.button.filter:hover {
    background: black;
    color: white;
}

.banner-title {
    font-weight: normal;
    color: white;
    font-size: 2rem;
}

.section-container {
    margin-top: 40px;
}

.state-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    gap: 10px;
}

.state {
    width: 15%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    transition: .3s all;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.state:hover {
    background: black;
    color: white;
    cursor: pointer;
    transition: .3s all;
}

#map {
    height: 400px;
}