.section {

}

.banner.top {
    padding-top: 120px;
}

.banner-title {
    font-weight: normal;
    font-size: 2rem;
}

.tournament-location {
    display: block;
    width: fit-content;
}

.rating-favorite-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite-link {
    margin-top: 10px;
    display: block;
    padding: 5px;
    text-decoration: none;
    color: white;
    width: fit-content;
    border: 1px solid black;
    background: darkgreen;
}

.favorite-link:hover {
    background: black;
}

.tournament-rating {
    font-size: .9rem;
    display: flex;
}

.tournament-rinks {

}

.star-rating {
    margin-right: 1rem;
}

.thumbs-actions-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    flex-wrap: wrap;
    gap: 2rem;
}

.thumbs-wrapper {
    display: flex;
    gap: .8rem;
}

.nearby-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.nearby-link {
    color: gray;
    pointer-events: none;
}

.nearby-link:hover {
    color: gray;
    cursor: none;
}

.section-title {
    font-size: 2rem;
    font-weight: normal;
}

.details-wrapper {
    display: flex;
}

.detail-section {
    padding: 0 10px;
    width: 50%;
    margin-bottom: 10px;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid gray;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.title-action-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-link {
    padding: 8px;
    text-decoration: none;
    background: darkgreen;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.action-link:hover {
    background: black;
    color: white;
}

.tournament-details {
    margin-bottom: 50px;
}

.tournament-reviews {
    margin-bottom: 50px;
}

.review {
    pointer-events: none;
    display: block;
    opacity: 0;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 1rem;
    transition: opacity 0.5s ease;
}

.review:hover {
    background: black;
    color: white;
}

.active-review {
    opacity: 1;
    pointer-events: all;
}

.review-title {
    font-weight: bold;
}

.review-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.review-date {
    color: gray;
}

.review-meta {
    display: flex;
    justify-content: space-between;
}

.rink-list {

}

.month-slider {
    display: flex;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.slide-button {
    border: 1px solid black;
    background: darkgreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.slide-button:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.slide-right {
    text-align: right;
}


.month-list {
    display: flex;
    justify-content: center;
    position: relative;
    width: 151px;
    height: 20px;
    overflow: hidden; /* Added overflow to hide overflowing content */
}

.month {
    position: absolute;
    width: fit-content;
    transition: transform 0.5s ease;
    white-space: nowrap; 
    transform: translateX(-1000%);
}

.month.active {
    transform: translateX(0); /* Initially set active month at center */
}

@media screen and (max-width: 960px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .action-link {
        text-align: center;
        width: 100%;
    }

    .title-action-wrapper {
        margin-bottom: 50px;
        flex-wrap: wrap;
    }

    .details-wrapper {
        flex-direction: column;
    }

    .detail-section {
        width: auto;
    }
}