{% extends 'base.html' %}

{% block title %} Location Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Displays all restaurants at a given city and state.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/restaurants_by_location.css' %}">
    <link rel="stylesheet" href="{% static 'css/general-list.css' %}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="banner top">
        <div class="container">
            <p class="banner-subtitle">Restaurants in</p>
            <h1 class="banner-title">{{ city }}, {{ state }}</h1>
        </div>
    </div>
</section>
<div class="container tournament-container">
    <ul class="general-list">
        {% for restaurant in restaurants %}
            <li class="general-item">
                <a class="general-link" href="#">{{ restaurant.name }}</a>
            </li>
            {% empty %}
            <div class="empty-list">
                <p>No restaurants found.</p>
                <p><a class="add-link" href="#">Add a Restaurant</a></p>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}