{% extends 'base.html' %}

{% block title %} Entertainments Page {% endblock %}

{% load static %}

{% block extra_head %}
    <meta name="description" content="Displays all tournaments to the user for selection.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/tournaments.css' %}">
    <link rel="stylesheet" href="{% static 'css/general-list.css' %}">
    <script src="{% static 'js/tournaments.js' %}"></script>
{% endblock %}

{% block content %}
<section class="section">
    <div class="banner top">
        <div class="container">
            <h1 class="banner-title">Entertainment</h1>
        </div>
    </div>
</section>
<div class="container search-container">
    <p>Search by state or city.</p>
    <div class="search-wrapper">
        <input placeholder="lake placid..." id="search-input" type="text" />
    </div>
</div>
{% comment %}
<div class="container filter-container">
    <button class="button filter" id="filter-button">Filters <i class="fa-solid fa-filter"></i></button>
</div>
{% endcomment %}
<div class="container cities-container">
    <ul class="general-list">
        {% for city_state in unique_city_states %}
            <li class="general-item" data-city="{{ city_state.city }}" data-state="{{ city_state.state }}">
                <a class="general-link" href="{% url 'entertainments:entertainments_by_location' city=city_state.city state=city_state.state %}">
                    {{ city_state.city }}, {{ city_state.state }}
                </a>
            </li>
            {% empty %}
            <p>No locations exist.</p>
        {% endfor %}
    </ul>
</div>

{% endblock %}